body {
	margin: 10px;
}

.form-control {
	width: 50%;
}

.form-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.table {
	margin-top: 20px;
}

.table th {
	text-align: center;
}

.total {
	text-align: right;
	margin-top: 10px;
	font-weight: bold;
}

.m10{
	margin-left: 10px;
}
.clean{
	float: right;
    margin-bottom: 15px;
  }